@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.theme-light {
  --bg-background-primary: white;
  --bg-background-secondary: #f7fafc;
  --bg-background-tertiary: #e2e8f0;

  --bg-background-form: white;

  --text-copy-primary: #2d3748;
  --text-copy-secondary: #4a5568;

  --border-border-color-primary: white;
}

.theme-dark .markdown-body {
    color: #24292e;
}

.theme-dark {
  --bg-background-primary: #0D2438;
  --bg-background-secondary: #102C44;
  --bg-background-tertiary: #1E3951;

  --bg-background-form: #1a202c;

  --text-copy-primary: #cbd5e0;
  --text-copy-secondary: #e2e8f0;

  --border-border-color-primary:  #1a202c;
}

.theme-dark .markdown-body {
    color: #cbd5e0;
}

.theme-dark nav .nuxt-link-exact-active {
    @apply border-white border-b;
}

.content-wrapper {
  transition: background-color .25s;
}

a {
  @apply text-green-700 font-bold;
}

a:hover {
  @apply text-green-800;
}

nav .nuxt-link-exact-active {
  font-weight: bold;
  @apply border-black border-b;
}

.container-inner {
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 640px) {
  .container-inner {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container-inner {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container-inner {
    max-width: 800px;
  }
}

.worked {
  background-image: url("../img/icons/link.svg");
  background-repeat: no-repeat;
  @apply pl-10;
}

.github {
  background-image: url("../img/icons/github.svg");
  background-repeat: no-repeat;
  @apply pl-10;
}

.info {
  background-image: url("../img/icons/info.svg");
  background-repeat: no-repeat;
  @apply pl-10;
}

.bookmark {
  background-image: url("../img/icons/bookmark.svg");
  background-repeat: no-repeat;
  @apply pl-10;
}

.code {
  background-image: url("../img/icons/code.svg");
  background-repeat: no-repeat;
  @apply pl-10;
}

.graduation {
  background-image: url("../img/icons/graduation.svg");
  background-repeat: no-repeat;
  @apply pl-10;
}

.responsive-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
